.navbar {
  padding: 0px !important;
  position: fixed;
  z-index: 1;
}

.collapseTrigger {
  font-size: 18px;
  line-height: 64px !important;
  padding: 0px 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: left;
  color: white;
}
.collapseTrigger:hover {
  color: #1890ff;
}
.userContainer {
  float: right;
  margin-right: 10px;
}
.userIcon i {
  margin-right: 0px !important;
}
.email {
  color: white;
  margin-left: 10px;
}
